# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.spyproject

# Mac stuff
.DS_Store

# R
*.Rhistory

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Intermediate results
*/CORRUPT/*
misc/*
3rd_party/*
eps_data/*


